/.jiri
#TODO(nlacasse): Get rid of .v23 below once v23->jiri transition is complete.
node_modules/
bower_components/
go/pkg/
public/bundle.*
public/version
npm-debug.log
go/bin/
tmp/
credentials/
htmlReports/
test/ui/target/

# Vanadium
/.v23
