@import "common-style/theme.css";
@import "common-style/sizes.css";

.account-name {
  position: absolute;
  right: var(--size-space-small);
  top: var(--size-space-xxsmall);
  color: var(--color-text-primary-invert);
  font-size: var(--size-font-xxsmall);
}