/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "common-style/theme.css";
@import "common-style/sizes.css";

.user-icon {
  position: absolute;
  right: var(--size-space-xsmall);
  top: var(--size-space-normal);
  color: var(--color-white);
}

.user-account {
  font-size: var(--size-font-xlarge);
}
