/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "common-style/theme.css";

.markdown {
  padding: 0.5em;
}

.markdown p {
  margin: 0 0 0.5em 0;
}

.markdown h1 {
  text-align: center;
}

.markdown h2 {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
}

/* Recover some sane version of link color. */
.markdown a {
  color: -webkit-link;
  text-decoration: underline;
}

/* Recover some sane version of list bullets. */
.markdown ul, .markdown ol {
  padding-left: 2em;
}
.markdown ul li {
  list-style: disc outside none;
}
.markdown ol li {
  list-style: decimal outside none;
}

.markdown img {
  border: solid black 1px;
}
