/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "common-style/sizes.css";
@import "common-style/theme.css";

tree-node::shadow .item {
  color: var(--color-text-primary);
  padding: var(--size-space-xxsmall) var(--size-space-xsmall);
}

tree-node::shadow .highlight {
  color: var(--color-text-primary-invert);
  background-color: var(--color-bright);
}

tree-node::shadow .highlight .itemicon {
  color: var(--color-text-primary-invert);
}

tree-node::shadow .itemicon {
  color: var(--color-text-secondary);
  transform: scale(0.7);
}

#tree-container {
  margin-top: var(--size-space-normal);
  margin-left: -var(--size-space-xsmall);
}