.network {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.vismenu {
  position: absolute;
  top: 5px;
  right: 10px;
}
/*paper-fab#expand,
paper-fab.mode,*/
paper-fab.zoom
 {
  background-color: white;
  margin: 5px 3px;
}
paper-dropdown.dropdown {
  top: 50%;
}
