@import "./theme.css";
@import "./sizes.css";

.tabs {
  box-shadow: var(--shadow-bottom);
}

.tabs::shadow #selectionBar {
  background-color: var(--color-bright);
}

.tab {
  background-color: var(--color-main);
  color: var(--color-text-primary-invert);
}

.tab::shadow #ink {
  color: var(--color-bright);
}

.tab-content {
  padding: var(--size-space-xsmall);
}

:not(.core-selected).tab-content {
  display: none;
}

paper-spinner {
  margin: var(--size-space-xsmall);
}

::shadow paper-input-decorator {
  padding: 0;
}

paper-progress {
  width: 100%;
  height: 2px;
}

/*
 * With delayed class, we only make the progressbar visible after 500ms
 * This normally creates better UX since if everything loads within a short time
 * there is no flash of a short-lived loading indicator anymore.
 */
paper-progress.delayed {
  -webkit-animation:delayed-progressbar 0.5s;
}
@-webkit-keyframes delayed-progressbar{
  0%{visibility:hidden;}
  99%{visibility:hidden;}
  100%{visibility:visible;}
}

paper-progress::shadow #activeProgress {
  background-color: var(--color-bright);
}

paper-progress::shadow #progressContainer {
  background-color: transparent;
}

paper-button {
  background-color: var(--color-grey-light);
  margin: var(--size-space-xsmall);
  max-height: 3em;
}

paper-button > core-icon {
  margin-right: var(--size-space-xsmall);
}