@import "./theme.css";
@import "./sizes.css";

.tabs {
  box-shadow: var(--shadow-bottom);
}

.tabs::shadow #selectionBar {
  background-color: var(--color-bright);
}

.tab {
  background-color: var(--color-main);
  color: var(--color-text-primary-invert);
}

.tab::shadow #ink {
  color: var(--color-bright);
}

.tab-content {
  padding: var(--size-space-xsmall);
}

:not(.core-selected).tab-content {
  display: none;
}

paper-loading {
  margin: var(--size-space-xsmall);
}