/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

/* Reset CSS - normalize everything to the same base */
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
  border: none;
  list-style: none;
  vertical-align: baseline;
  color: inherit;
}