/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

.items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: var(--border);
  padding-bottom: 0.5em;
}

.items-container:last-child {
  border-bottom: none;
}