@import "common-style/sizes.css";
@import "common-style/theme.css";
@import "common-style/card.css";

.field {
  font-size: var(--size-font-small);
  margin-bottom: var(--size-space-small);
}

.field h4 {
  margin: 0;
  color: var(--color-text-secondary);
}

paper-icon-button.bookmarked {
  color: var(--color-bright);
}

.item-actions {
  margin: var(--size-space-xxsmall) -var(--size-space-xsmall);
  margin-top: -var(--size-space-xxsmall);
  padding: var(--size-space-xxsmall) 0;
  border-bottom: var(--border);
}

.method-input {
  display: inline-block;
  vertical-align: top;
  width: 18em;
  overflow: hidden;
}

.tooltip.field-tooltip::shadow .core-tooltip, .tooltip.method-tooltip::shadow .core-tooltip {
  line-height: 0.9em; /* overrides Polymer's 6px line-height */
  white-space: pre-wrap;
  font-size: var(--size-font-xsmall);
}

.tooltip.field-tooltip::shadow .core-tooltip {
  width: 24em;
}

.tooltip.field-tooltip::shadow .core-tooltip {
  width: 36em;
}

.method-input .label {
  align-items: center;
  overflow: hidden;
}

.method-input paper-autocomplete {
  width: 100%;
}

.method-input .drill.star {
  border-left: none;
  border-right: var(--border);
}

.method-input-expanded {
  margin-bottom: var(--size-space-normal);
  padding: var(--size-space-xsmall);
}

.method-input-item {
  box-sizing: border-box;
  padding: var(--size-space-xsmall);
}

.method-output table, .method-output th {
  border-bottom: var(--border);
}

.method-output th, .method-output td {
  text-align: left;
  padding: 0.2em;
}

.method-output pre, .field pre {
  white-space: pre-wrap;
}

.method-input .invocation {
  margin-top: 0em;
  margin-bottom: 0em;
  height: 2em;
  margin-top: var(--size-space-xxsmall);
}

.method-input .invocation .label {
  font-size: var(--size-font-small);
}

core-icon.info {
  color: var(--color-info);
}

core-icon.error {
  color: var(--color-error);
}

core.icon.starred {
  color: var(--color-bright);
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  0%   {background:cyan; width:0%;}
  100% {background:cyan; width:100%;}
}