@import "common-style/theme.css";

.tabs {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.tabs::shadow #selectionBar {
  background-color: #FF4081;
}

.tab {
   /* TODO(aghassemi) refactor into color-primary-main variable */
  background-color: #3f51b5;
  color: #FAFAFA;
}

.tab::shadow #ink {
  /* TODO(aghassemi) refactor into color-bright variable */
  color: #FF4081;
}

.browse-details-sidebar::shadow #dropShadow {
  display: none;
}

.tab-content {
  padding: 0.5em;
}

:not(.core-selected).tab-content {
  display: none;
}

.field {
  font-size: 0.9em;
  margin-bottom: 0.75em;

}

.field h4 {
  margin: 0;
  color: rgba(0,0,0, 0.54);
}

.signature {
  overflow: auto;
  margin: 0.5em;
}

.signature pre {
  white-space: normal;
  word-break: break-all;
}

.method-input {
  overflow: auto;
  max-height: 10em;
  margin: 0.5em;
}

.method-input-item {
  margin: 0.5em;
  font-size: 80%;
}

.method-input-run {
  background-color: var(--color-primary-dark);
  color: var(--color-bright);
  max-width: 10em;
  display: block;
}

.method-output {
  overflow: auto;
  max-height: 10em;
  margin: 0.5em;
}