/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "common-style/theme.css";
@import "common-style/sizes.css";

.nav-item.core-selected,
.nav-item.core-selected /deep/ core-icon {
  color: var(--color-secondary-800);
}

.nav-item /deep/ core-icon {
  color: var(--color-text-secondary);
}

.nav-item {
  margin: var(--size-space-small);
}

.nav-item:hover, .nav-item:focus {
  background-color: var(--color-menu-hover);
}
