@import url(http://fonts.googleapis.com/css?family=Roboto);
@import "common-style/reset.css";
@import "common-style/theme.css";
@import "common-style/sizes.css";

body {
  font-family: var(--font-family);
  color: var(--color-black);
  background-color: var(--color-white);
}

.title {
  font-size: var(--size-font-large);
  color: var(--color-white);
}

.toolbar {
  background-color: var(--color-primary-dark);
}

.panel .drawer {
  background-color: var(--color-white);
}

.drawer-toggle {
  color: var(--color-white);
}

