/* TODO(aghassemi) move to some common CSS, ideally shared between apps */
@import "common-style/theme.css";
@import "common-style/sizes.css";

.layout-horizontal {
  display: flex;
  flex-direction: row;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.browse-toolbar {
  background-color: var(--color-grey-very-light);
  box-shadow: none;
}
.browse-details-sidebar::shadow #dropShadow {
  display: none;
  z-index: -1;
}
.browse-details-sidebar::shadow #mainContainer {
  background-color: var(--color-grey-very-light);
  border-left: solid 1px var(--color-divider);
}

.browse-main-wrapper paper-progress {
  position: absolute;
  opacity: 0.6;
}

.browse-main-wrapper core-tooltip {
  position: absolute;
}

.browse-main-wrapper h2 {
  font-size: var(--size-font-xxlarge);
  color: var(--color-text-heading);
  padding: var(--size-space-small);
  padding-bottom: var(--size-space-xxsmall);
  text-decoration: none;
}

.browse-main-panel::shadow #mainContainer {
  overflow-x: auto;
}

.progress-tooltip {
  width: 100%;
}

.breadcrumbs {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: flex-start;
  list-style: none;
  width: 100%;
}

.breadcrumb-item {
  font-size: var(--size-font-small);
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 0;
  justify-content: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumb-item a {
  display: inline-block;
  color: var(--color-text-link);
}

.breadcrumb-item a:hover, .breadcrumbs li a:focus {
  color: var(--color-text-link-hover);
}

.breadcrumb-item:before
{
  content: '/';
  padding:0 var(--size-space-xxsmall);
  display: inline-block;
  color: var(--color-text-secondary);
}

.breadcrumb-item:first-child:before
{
  display: none;
}

.namespace-box {
  background: var(--color-grey-very-light);
  font-size: var(--size-font-xsmall);
  padding: 0 var(--size-space-xsmall);
  margin-left: var(--size-space-xlarge) !important;
  border-radius: 1px;
}

.namespace-box /deep/ input {
  color: inherit
}

.namespace-box core-tooltip {
  width: 100%;
}

.icon-group {
  white-space: nowrap;
}

.vertical-ruler {
  display: inline-block;
  width: 1px;
  background-color: var(--color-divider);
  margin:0 var(--size-space-xxsmall);
}

.icon-group paper-icon-button {
  vertical-align: middle;
  color: var(--color-text-secondary);
  padding: var(--size-space-xxsmall);
  margin:0 var(--size-space-xxsmall);
}

.icon-group paper-icon-button::shadow #ripple{
  color: var(--color-bright);
}

.icon-group paper-icon-button:hover, .icon-group paper-icon-button:focus {
  background: #eee;
  border-radius: 50%;
}

.search-box {
  white-space: nowrap;
  width: var(--size-input-width-small);
  margin-left: var(--size-space-xxsmall);
}

.search-box core-tooltip {
  width: 100%;
}

.search-box .icon, .namespace-box .icon {
  align-self: flex-end;
  color: var(--color-text-secondary);
  margin-right: var(--size-space-xsmall);
}

.search-box .input {
  font-size: var(--size-font-xsmall);
}

/* Make space for the clear search icon */
.search-box .clear-search {
  margin-left: -25px;
}
.search-box paper-input::shadow /deep/ input {
  width: calc(100% - 25px);
}

.service-type-icon {
  transform: scale(0.7);
  padding-right: 0.75em;
}

.header-content {
  flex: 1;
}

paper-autocomplete {
  width: 100%;
}

paper-autocomplete::shadow #suggest-box {
  background-color: var(--color-grey-very-light);
}

paper-autocomplete::shadow #suggest-box {
  border: var(--border);
  box-shadow: var(--shadow-all-around);
}

paper-autocomplete paper-item.highlighted,
paper-autocomplete paper-item:hover {
  background-color: var(--color-bright);
}

paper-autocomplete paper-item {
  color: var(--color-text-primary);
}

paper-icon-button.selected,
paper-icon-button.selected:focus,
paper-icon-button.selected:hover {
  background-color: var(--color-bright);
  color: var(--color-white);
  box-shadow: var(--shadow-all-around);
  border-radius: 999px; /* Any square with sufficiently rounded corner is indistinguishable from a circle */
}

.side-panel-toggle {
  position: absolute;
  z-index: 1;
  left: -18px;
  top: 2px;
  transform: scale(0.6);
  background-color: var(--color-bright);
  color: var(--color-white);
}

.side-panel-toggle.collapsed {
  left: -24px;
}